<style>
/* width */
#new: ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#new:::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#new: ::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
#new: ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>